.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.form-message {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.container {
    max-width: 280px;
    max-height: 280px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    border-radius: 10px;
    border-spacing: 0;
}

.cabinet{
    border:1px solid #000000;
    background: #F8E391;
    padding: 10px 10px;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

.btn {
    border:1px solid #000000;
    background: #F8E391;
    padding: 10px 10px;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}