<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>films Manager Application</title>
</head>
<body>
<div align="center">
  <h1>films Records</h1>
  <a href="/user/cabinet">My Cabinet</a>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ID</th>
      <th>Film Name</th>
      <th>Genre</th>
      <th>Description</th>
      <th>Critic Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film : ${listFilm}">
      <td th:text="${film.id}">ID</td>
      <td th:text="${film.filmName}">Film Name</td>
      <td th:text="${film.filmGenre}">Film Genre</td>
      <td th:text="${film.filmDescription}">Film Description</td>
      <td th:text="${film.criticRate}">Critic Rate</td>
      <td><a th:href="@{/user/add_to_watchlist/(id=${film.id})}">Mark as Watched</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>